@font-face {
  font-family: semibold;
  src: url('../assets/font/Alegreya-SemiBold.ttf');
}

.nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 10px 15vw 10px 2vw;
  font-family: "font-inter";
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.name {
  font-size: 28px;
  font-family: 'semibold';
  margin-left: 10px;
}

.name:hover {
  color: #1F6FEB
}

.anchorItem {
  font-size: 16px;
  font-weight: 500;
  padding-left: 5px
}

@media screen and (max-width: 660px) {
  .nav {
    padding: 10px 10vw 10px 2vw;
  }
}