@media screen and (max-width: 800px) {
  .paper {
    flex-direction: column;
  }

  .thumb {
    max-width: 100%;
  }

  .info {
    max-width: 100%;
    padding-top: 10px;
  }
}

#publication {
  padding-top: 110px;
}

#publication-list .tag {
  background-color: rgb(244, 244, 244);
  display: inline;
  cursor: pointer;
  padding: 5px 5px;
  margin-right: 5px;
  margin-left: .3px;
  margin-bottom: 3px;
  border-radius: 8px;
  border: 0px;
  font-size: 12px;
}

#publication-list .tag-active {
  background-color: rgb(221, 221, 221);
  font-weight: 600;
  color: rgb(31, 111, 235)
}

.paper {
  padding: 20px 0px;
}

/* .paper::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: thin solid transparent;
  border-image: linear-gradient(to right, lightgrey, 20%, transparent);
  border-image-slice: 1;
  margin-top: 20px;
} */

/* .paper:last-of-type::after {
  display: none;
} */

/* .paper:first-of-type {
  padding-top: 0px;
} */

.thumb {
  padding-right: 30px;
  display: flex;
  align-items: center;
}

.thumb img {
  width: 100%;
  padding: 2px;
  border: 1px solid #ddd;
}

.info p {
  margin: 3px 0px;
  line-height: 1.5;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: rgba(31, 111, 235, 0.7);
}

.title:hover {
  font-weight: 600;
  /* text-shadow: 0px 0px 10px #3B82F6; */
  /* color: rgba(31, 111, 235, 0.8); */
}

.author-list {
  font-size: 15px;
  font-weight: 300;
}

.author-list .me {
  font-weight: 600;
  border-bottom: 1px solid;
}

.pub {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.honor {
  color: rgb(59, 130, 246);
  font-size: 15px;
  font-weight: 500;
}

.abbr {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin-right: 8px;
  padding: 0px 5px;
  border: 0px solid #aaa;
  border-radius: 3px;
  background-color: rgba(59, 130, 246, 0.65);
}

.full {
  font-size: 14px;
  font-weight: 500;
}

.materials {
  font-size: 14px;
  display: 'flex';
  justify-content: center;
}

.material::after {
  content: '|';
  color: #444;
  font-weight: 300;
  margin: 0px 8px;
}

.material:first-of-type::before {
  content: '[';
  color: #444;
  font-weight: 300;
  margin-right: 4px;
}

.material:last-of-type::after {
  content: ']';
  color: #444;
  font-weight: 300;
  margin: 0px 15px 0px 4px;
}

