@font-face {
  font-family: semibold;
  src: url('../assets/font/Alegreya-SemiBold.ttf');
}

@font-face {
  font-family: Alegreya;
  src: url('../assets/font/Alegreya-Regular.ttf');
}

#header {
  position: fixed;
  z-index: 10;
  margin: 0px 0px 10px 0px;
  width: 100%;
}

.first {
  height: 10px;
  background: #1E40AF;
}

.second {
  height: 10px;
  background: #EAF2FF;
}

#main {
  width: 55vw;
  margin: 0 auto;
  color: rgba(51, 51, 51, 0.87);
}

@media screen and (max-width: 660px) {
  #main {
    width: 88vw;
  }
}

#footer {
  /* margin-top: 30px; */
  padding-top: 1em;
  padding-bottom: 1em;
  background: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5em;
}

a {
  color: rgba(51, 51, 51, 0.93);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #1F6FEB;
  font-weight: 500;
  /* border-bottom: 2px solid #1F6FEB; */
}

.bg-hl {
  position: relative;
  font-weight: 600;
  z-index: 0;
}

.bg-hl::after {
  content: '';
  background-color: #DBEAFE;
  height: 45%;
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  width: 100%;
  z-index: -1;
  border-radius: 30%;
}

.hl {
  color: #1F6FEB;
  font-weight: 700;
  /* cursor: pointer; */
  text-decoration: none;
}

.hl:hover {
  text-shadow: 0px 0px 10px #3B82F6;
}

.text-hl {
  /* color: rgba(51, 51, 51, 0.93); */
  color: rgba(31, 111, 235, 0.8);
  font-weight: 300;
  text-decoration: none; 
}

.text-hl:hover {
  font-weight: 300;
  color: rgba(31, 111, 235, 1);
  text-decoration: none;
}

.sec-title {
  font-size: 26px;
  font-family: 'semibold';
  margin-bottom: 10px;
}